<div ng-controller="SimulationCtrl">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3">
			<i class="fa fa-magic icon i-sm m-r-sm"></i>
			<span >Simulation - rolldiceresult</span>
			<!--<button type="submit" class="btn m-b-xs w-xs m-r-sm btn-primary pull-right" ng-disabled="settingsFrom.$invalid">Save</button>-->
		</h1>
	</div>
	<alert ng-repeat="alert in alerts" class="fade-in" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<div class="wrapper-md">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading font-bold">rolldiceresult</div>
					<div class="panel-body">
						<div class="bs-example form-horizontal">
							<div class="col-lg-9">
								<div class="form-group">
									<label class="col-lg-2 control-label">numHits</label>
									<div class="form-group col-lg-10">
										<input type="text" ng-model="sim.rolldiceresult.numHits" class="form-control" placeholder="">
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<button type="button" ng-click="submitData('rolldiceresult')" class="btn m-b-xs w-xs m-r-sm btn-primary pull-right">Send</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>